<!DOCTYPE html>
<html>
	<head>
		<%- include ( "part/head.html" ) -%>
	</head>
	<body>
		<aside>
			<div>
				<label for="user" class="fa-solid fa-user"></label>
				<input id="user" type="text" >
			</div>
			<div>
				<label id="passLabel" for="pass" class="fa-solid fa-eye"></label>
				<input id="pass" type="password">
			</div>
			<div>
				<button id="button">Connexion</button>
			</div>
		</aside>
		<script nonce="<%- locals.nonce %>">
			let domEls = {
				user: document.getElementById ( "user" ),
				eye: document.getElementById ( "passLabel" ),
				pass: document.getElementById ( "pass" ),
				button: document.getElementById ( "button" ),
			};

			domEls.eye.addEventListener ( "click", (ev)=>{
				domEls.eye.classList.toggle ( "fa-eye" );
				domEls.eye.classList.toggle ( "fa-eye-slash" );

				if ( "password" == domEls.pass.type )
				{
					domEls.pass.type = "text";
				}
				else
				{
					domEls.pass.type = "password";
				}
			});

			function sentCredential ( )
			{
				let data = {
					user: domEls.user.value,
					pass: domEls.pass.value,
					token: localStorage.getItem ( "<%- locals.title %>" ),
				};

				if ( ( !data.user
						|| !data.pass )
					&& !data.token )
				{
					return;
				}

				fetch ( "/ajax/login", {
						method: "POST",
						body: JSON.stringify( data ),
						headers: { "Content-Type": "application/json" },
					})
					.then ( r=>{
						if ( r.ok )
						{
							return r.json ( );
						}
						else
						{
							throw r.json ( );
						}
					})
					.then ( r=>{
						localStorage.setItem ( "<%- locals.title %>", r.token );
						return r;
					})
					.then ( r=>{
						return new Promise ( (ok,_)=>{
							setTimeout ( ok, 100, r );
						});
					})
					.then ( r=>{
						if ( "/login" == r.target )
						{
							window.location.href = window.location.origin;
						}
						else if ( r.target )
						{
							window.location.href = window.location.origin + r.target;
						}
						else
						{
							window.location.href = window.location.origin;
						}
					})
					.catch ( console.error )
			}

			domEls.button.addEventListener ( "click", sentCredential );

			domEls.user.addEventListener ( "keyup", ( ev )=>{
				if ( "Enter" == ev.key )
				{
					ev.stopPropagation ( );
					sentCredential ( );
				}
			});

			domEls.pass.addEventListener ( "keyup", ( ev )=>{
				if ( "Enter" == ev.key )
				{
					ev.stopPropagation ( );
					sentCredential ( );
				}
			});

			window.onload = ()=>{
				<% if ( locals.logged ) { %>
					localStorage.removeItem ( "<%- locals.title %>" );
				<% } else { %>
					sentCredential ( );
				<% } %>
			};
		</script>
	</body>
</html>
